.GeoButton {
  width: 100%;
  padding: 8px;

  font-size: 14px;
  color: #2f2d2d;
  text-align: left;

  background: #fff;
  border: none;

  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
